* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.cover {
  height: 100%;
  width: 100%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover > button {
  height: 10%;
  width: 40%;
}

.cover-exit {
  animation: exit-center 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes exit-center {
  0% {
    transform: scale(1);
    display: flex;
  }

  100% {
    transform: scale(0.01);
    display: none;
  }
}
