:root {
  --color-sand-biege: #d0c8b6;
  --color-dark-grey: #1a1a1a;
  --color-off-white: #f6f1eb;
  --color-olive-drab: #545247;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-dark-grey);
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-off-white);
}

.cover {
  height: 100%;
  width: 100%;
  background-color: var(--color-olive-drab);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.cover > button {
  height: 10%;
  width: 40%;
}

.cover-exit {
  animation: exit-center 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes exit-center {
  0% {
    transform: scale(1);
    display: flex;
  }

  100% {
    transform: scale(0.01);
    display: none;
  }
}

header {
  background-color: var(--color-off-white);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem 15rem;
  box-shadow: 0 1px 15px 0px var(--color-olive-drab);
}

#page-title-container {
  width: 45%;
  display: flex;
  justify-content: start;
}

#page-title {
  color: var(--color-dark-grey);
  font-size: 64px;
  font-weight: bold;
}

nav {
  width: 45%;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

main {
  background-color: var(--color-off-white);
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem;
  margin-top: 95px;
}

main > section {
  padding: 0.25rem;
  overflow: hidden;
  width: 70%;
  height: 85vh;
}

#home {
  display: flex;
  align-items: center;
}

#q-description {
  width: 70%;
}

#home h2 {
  font-size: clamp(1.3rem, 4.3vw, 4.3rem);
}

#home p {
  font-size: clamp(1rem, 1.5vw, 3rem);
}

#socials {
  display: flex;
  gap: 1rem;
}

#socials img {
  width: 4%;
}

#skills {
  display: flex;
  justify-content: start;
}

#skills p {
  width: 25%;
  display: flex;
  align-items: center;
}

#tech-stack {
  display: flex;
  gap: 1rem;
  width: 70%;
}

#tech-stack img {
  width: 10%;
  margin: 0.5rem;
}

#q-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

#q-image img {
  border: 1px solid var(--color-dark-grey);
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}

#projects {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  overflow: hidden;
}

#projects-list-container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-direction: row;
  animation: slide 20s linear infinite alternate;
}

@keyframes slide {
  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  75% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-300%);
  }
}

#projects-list-container > div {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

#projects-list-container a {
  width: 100%;
  display: block;
}

#projects-list-container img {
  width: 100%;
  object-fit: contain;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  object-fit: contain;
}

#contact-me {
  display: flex;
  flex-direction: column;
}

#contact-me > div {
  display: flex;
}

#contact-me img {
  width: 100%;
}

footer {
  background-color: var(--color-off-white);
  width: 100%;
  height: 1000px;
}
