:root {
  --color-sand-biege: #d0c8b6;
  --color-dark-grey: #1a1a1a;
  --color-off-white: #f6f1eb;
  --color-olive-drab: #545247;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-dark-grey);
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-off-white);
}

.cover {
  height: 100%;
  width: 100%;
  background-color: var(--color-olive-drab);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.cover > button {
  height: 10%;
  width: 40%;
}

.cover-exit {
  animation: exit-center 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes exit-center {
  0% {
    transform: scale(1);
    display: flex;
  }

  100% {
    transform: scale(0.01);
    display: none;
  }
}

header {
  background-color: var(--color-off-white);
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: var(--color-off-white);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 1;
}

nav > button {
  height: 80%;
  width: 20%;
  border: none;
  border-radius: 3px;
  background-color: var(--color-sand-biege);
}

main {
  background-color: var(--color-off-white);
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.25rem;
}

main > section {
  background-color: var(--color-sand-biege);
  padding: 0.25rem;
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

#projects > div {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

#projects section {
  width: 100%;
  flex-shrink: 0;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  object-fit: contain;
}

footer {
  background-color: var(--color-off-white);
  width: 100%;
  height: 1000px;
}
