:root {
  --color-sand-biege: #d0c8b6;
  --color-dark-grey: #1a1a1a;
  --color-off-white: #f6f1eb;
  --color-olive-drab: #545247;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-dark-grey);
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-off-white);
}

.cover {
  height: 100%;
  width: 100%;
  background-color: var(--color-olive-drab);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.cover > button {
  height: 10%;
  width: 40%;
}

.cover-exit {
  animation: exit-center 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes exit-center {
  0% {
    transform: scale(1);
    display: flex;
  }

  100% {
    transform: scale(0.01);
    display: none;
  }
}

header {
  background-color: var(--color-off-white);
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: var(--color-off-white);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  opacity: 50%;
  z-index: 1;
}

main {
  background-color: var(--color-off-white);
  width: 100%;
  height: 500px;
  position: relative;
}

footer {
  background-color: var(--color-off-white);
  width: 100%;
  height: 1000px;
}
